.song-container{
    min-height: 60vh;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: center;

img{
    margin-top:1.5rem;
    width: 20%;
    border-radius:33%;
    box-shadow: 0 0 0.8rem rgba(26, 26, 26, 0.7);
    transition: all 0.8s ease;
    &:active{
        width: 23%;
        border-radius:15%;
        box-shadow: 0 0 1rem rgb(0, 0, 0);
    }
}

h1,h2{
    color: rgb(241, 241, 241);
}

h3, h4{
    font-weight: 500;
    color: rgb(209, 209, 209);
    margin-bottom: 1.5rem; //space between artist title and player
}

h2{
    padding: 3rem 1rem 1rem 1rem;
}

h3{
    font-size: 1rem;
}
}

@media screen and (max-width: 768px) {
	.song-container {
		img {
			width: 60%;
            &:active{
                width: 63%;
            }
		}
	}
    
}