.song-container{
    min-height: 60vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

img{
    margin-top:1.5rem;
    width: 20%;
    border-radius:33%;
    box-shadow: 0 0 0.8rem rgba(26, 26, 26, 0.7);
}

h1,h2{
    color: rgb(241, 241, 241);
}

h3, h4{
    font-weight: 500;
    color: rgb(209, 209, 209);
    margin-bottom: 1.5rem; //space between artist title and player
}

h2{
    padding: 3rem 1rem 1rem 1rem;
}

h3{
    font-size: 1rem;
}
}