$bg: linear-gradient(to right, #240f35, #0d3a2f);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body{
    font-family: 'urbanist','roboto', arial, helvetica, sans-serif;
    background: $bg;

}

.App {
    transition: all 0.5s ease;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";